
include _heading-sec.pug

mixin group-why(clname, style2)       
        .group(class=`xl:mt-70 mt-48 ${clname}`)
            .container 
                +heading-sec('Мы помогаем получить визы:', style2)
                .row.mt-24.why-row(class=`${style2 === true ? 'xl:gap-y-32 gap-y-16':'xl:gap-y-24 gap-y-16'}`)
                    each item,key in ['Туристические','Студенческие',' Деловые','Гостевые'] 
                        .col-12.col-lg-6
                            a(href="#").item(class=`${style2 === true ? 'flex items-center gap-y-12 gap-x-8 max-md:flex-col':'hover:drop-shadow-lg'}`)
                                .images
                                    .imgDrop 
                                        img(src=`images/${key+4}.jpg`, alt="")
                                .content(class=`${style2 === true ? 'xl:px-20':''}`)
                                    .ttl(class=`${style2 === true ? 'text-32 text-primary font-bold':'2xl:p-20 xl:p-16 p-12 text-40 text-white'}`)= item 
                                    if(style2 === true)
                                        .text-14.mt-8 Вам не надо вникать в тонкости процесса, узнавать куда пойти, что сделать, какие документы собрать. Заполните ЗАЯВКУ на нашем сайте и через 3-5 дней документы для визы готовы.