include _heading-sec.pug

mixin group-about(clname, style2)
    .group(class=`${clname}`)
        .container 
            +heading-sec('Наше агентство — это:', style2)
            .row.mt-24.row-about(class="md:gap-y-20  gap-y-12 xl:mt-40 lg:mt-32")
                -
                    var arr_agency = [
                        {icon:'1', text:'Персональный менеджер под каждый кейс'},
                        {icon:'2', text:'20+ лет опыта и тысячи одобренных виз'},
                        {icon:'3', text:'Актуальная информация от посольств'},
                        {icon:'4', text:'Работаем с отказами и сложными ситуациями'},
                        {icon:'5', text:'Профессиональное заполнение анкет'},
                        {icon:'6', text:'Конфиденциальность и безопасные каналы связи'},
                        {icon:'7', text:'Поддержка на всех этапах — от заявки до визы'}
                    ]
                each item in arr_agency
                    .col-12.col-md-4.col-lg-3
                        .inner.h-full(class=`${style2 === true ? 'py-12':' bg-primary text-white rounded-4 2xl:p-24 xl:p-16 p-20'}`)
                            .icon(class=`xl:w-90 lg:w-70 md:w-52 w-48 ${style2 === true ? 'icon-primary':''}`)
                                img.w-full(src=`images/icon${item.icon}.svg`, alt="")
                            .text-20(class=`${style2 === true ? 'text-primary font-bold mt-24':'2xl:mt-80 xl:mt-60 lg:mt-40 md-32 mt-24'}`)= item.text
                            if(style2 === true)
                                .text.mt-24 Вам не надо вникать в тонкости процесса, узнавать куда пойти, что сделать, какие документы собрать. Заполните ЗАЯВКУ на нашем сайте и через 3-5 дней документы для визы готовы.