
include _form-info.pug

mixin sec-banner(text96, text64, text32, style2)
    section.sec-banner.text-white(class="xl:py-70 py-32")  
        .bg.imgDrop.bg-primary 
            img(src="images/bg1.png", alt="")
        .container 
            .banner-row(class=`flex max-md:flex-col ${style2 === true ? 'flex-col':'items-center'}`) 
                .group.flex-grow-1.pb-24(class="max-md:text-center")
                    if(text96 != '')
                        h1.ttl.text-96.font-bold= text96
                    if(text64 != '')
                        h1.ttl.text-64.font-bold= text64
                    .text-32.mt-24= text32
                ul.list-flag.flex-shrink-0.gap-y-16.flex(class=`2xl:gap-y-24 ${style2 === true ? 'style-row xl:mt-60 lg-mt-40 mt-32 xl:gap-x-60 lg:gap-x-40 md:gap-x-24 gap-x-20 max-md:justify-center':'md:flex-col gap-x-12'}`)
                    -
                        var arr = [
                            {icon: 'cnd', text:'США'},
                            {icon: 'm', text:'Канада'},
                            {icon: 'usa', text:'Великобритания'}
                        ]
                    each item in arr
                        li(class="max-md:w-60 max-md:flex-shrink-0")
                            .icon
                                img.w-full(src=`images/flg_${item.icon}.png`, alt="")
                            if(style2 === true)
                                .text-32.mt-12= item.text
            +form-info("2xl:mt-60 xl:mt-40 lg:mt-32 mt-24 ")